# Searching for the category

For this code along we are only going to use the products DataFrame. However, if you believe there is information in other tables that can help to create categories, please feel free to explore.

In [ ]:
import pandas as pd

In [ ]:
# products_cl.csv
url = "https://drive.google.com/file/d/1s7Lai4NSlsYjGEPg1QSOUJobNYVsZBOJ/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products_cl = pd.read_csv(path)

In [ ]:
product_category_df = products_cl.copy()

In [ ]:
product_category_df.head()

,sku,name,desc,price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364

## 1.&nbsp; Category creation by search term
Let's start by creating a column `category`. For now we'll fill this column with a blank string `""`.

In [ ]:
product_category_df["category"] = ""
product_category_df.head()

,sku,name,desc,price,in_stock,type,category
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696,
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401,
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387,
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230,
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364,

We can find all the products with certain words in their `description` using `.loc[]` and `.str.contains()`. Here we'll look at all the items that have the word `keyboard` in their description.

In [ ]:
product_category_df.loc[product_category_df["desc"].str.contains("keyboard", case=False)]

,sku,name,desc,price,in_stock,type,category
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401,
15,MOS0021,Clearguard Moshi MacBook Pro and Air,Keyboard Protector MacBook Pro 13-inch Retina ...,24.95,0,13835403,
24,APP0277,Apple Wireless Keyboard Keyboard (OEM) Mac,Ultrathin keyboard Apple Bluetooth Spanish (un...,79.00,0,13855401,
64,HGD0012,Henge Docks Click keyboard support iMac,Base to hold the Apple Magic TrackPad and Wire...,29.00,0,8696,
365,LOG0084,Logitech Ultrathin Keyboard Cover Keyboard Cov...,Ultrathin cover and cover with Bluetooth keybo...,89.99,0,12575403,
...,...,...,...,...,...,...,...
9720,PAC2508,Replacement Magic Wireless Keyboard by Matias ...,Keyboard replacement service at the time of pu...,119.99,1,13855401,
9751,MTF0008,Mistify Clean Screens Natural 500ml.,Spray cleaning screens and keyboards.,14.99,1,12085400,
9796,ZAG0026-A,Open - Zagg Rugged Keyboard Folio iPad Messeng...,Case reconditioned keyboard and adjustable pos...,99.99,0,12575403,
9932,APP1472,Apple Magic Keyboard English International,English keyboard Mac and Apple iPad Ultrathin ...,119.00,1,13855401,
9945,TWS0106-A,Open - Twelve South Bridge Magic Keyboard for ...,Light reconditioned support to hold the Keyboa...,48.00,0,8696,

Next, we change the value in the category column to `keyboard` for all of these keyboard products.

In [ ]:
product_category_df.loc[product_category_df["desc"].str.contains("keyboard", case=False), "category"] = "keyboard"

Let's take a look at the effect that had on the `category` column.

In [ ]:
product_category_df["category"].value_counts()

            9903
keyboard      89
Name: category, dtype: int64

## 2.&nbsp; Category creation using regex
We can also use a product's `name` to select products for our categories.

In [ ]:
product_category_df.loc[product_category_df["name"].str.contains("apple iphone", case=False)]

,sku,name,desc,price,in_stock,type,category
35,APP0308,AV Cable Adapter Apple iPhone iPad and iPod white,IPhone iPad iPod adapter and AV cable.,45.00,0,1230,
214,REP0100,Color change to White Apple iPhone 4,It is including parts and labor..,94.21,0,"1,44E+11",
215,REP0052,Color change to White Apple iPhone 4,It is including parts and labor..,94.21,0,"1,44E+11",
579,APP0675,Apple iPhone 5S 32GB Space Gray,New Free iPhone 5S 32GB (ME435Y / A).,559.00,0,NaN,
956,APP0823,Apple iPhone 6 16GB Silver,New iPhone 6 16GB Free (MG482QL / A).,639.00,0,NaN,
...,...,...,...,...,...,...,...
9790,AP20455,Like new - Apple iPhone 8 256GB Gold,Apple iPhone 8 reconditioned 256GB in Gold rea...,979.00,0,113291716,
9794,APP2482-A,Open - Apple iPhone 8 Plus 256GB Gold,Refurbished Apple iPhone 8 Plus 256GB Free Gold,1089.00,0,113281716,
9929,APP2477-A,Open - Apple iPhone 8 Plus 64GB Space Gray,Apple iPhone 8 Plus 64GB Space Gray,919.00,0,113281716,
9958,AP20467,Like new - Apple iPhone Silicone Case Cover 7 ...,Reconditioned silicone sleeve microfiber Apple...,45.00,0,11865403,
9969,AP20468,Like new - Apple iPhone Black Lightning Dock,Support base and refitted with dock connector ...,59.00,0,13615399,

Looks like we get a lot of accessories included in this search. We can refine this using a little regex. Here, we will add `.{0,7}` at the beginning of the search: this means we will find all `apple iphone`s that have 7 or less characters preceding the term "apple iphone" - if there's 8 characters preceding the search term, it won't be found. This should help refine our search by using the nomenclature of the DataFrame to our advantage.

If you feel unsure about regex, please use [regex101](https://regex101.com/). It's really useful for checking your code, and parts of other people's code that you're unsure about.

In [ ]:
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple iphone", case=False)]

,sku,name,desc,price,in_stock,type,category
579,APP0675,Apple iPhone 5S 32GB Space Gray,New Free iPhone 5S 32GB (ME435Y / A).,559.0,0,NaN,
956,APP0823,Apple iPhone 6 16GB Silver,New iPhone 6 16GB Free (MG482QL / A).,639.0,0,NaN,
961,APP0829,Apple iPhone 6 Plus 16GB Silver,New iPhone 6 Plus 16G Free (MGA92QL / A).,749.0,0,NaN,
962,APP0822,Apple iPhone 6 16GB Space Gray,New iPhone 6 16GB Free (MG472QL / A).,639.0,0,NaN,
963,APP0825,Apple iPhone 6 64GB Space Gray,New iPhone 6 64GB Free (MG4F2QL / A).,749.0,0,NaN,
...,...,...,...,...,...,...,...
9585,APP1634-A,Open - Apple iPhone 7 Plus 32GB Black,New 32GB Apple iPhone 7 Plus Free Black,779.0,0,85651716,
9587,APP2540-A,Open - Apple iPhone Leather Folio X Baya,Leather case with box and official cover Apple,109.0,0,11865403,
9714,APP2562-A,Open - Apple iPhone Leather Case Cover Red,Reconditioned skin sheath official Apple desig...,45.0,0,11865403,
9794,APP2482-A,Open - Apple iPhone 8 Plus 256GB Gold,Refurbished Apple iPhone 8 Plus 256GB Free Gold,1089.0,0,113281716,
9929,APP2477-A,Open - Apple iPhone 8 Plus 64GB Space Gray,Apple iPhone 8 Plus 64GB Space Gray,919.0,0,113281716,

Now we can use the same trick as before to set the category - selecting the `category` column and setting it to the string of our choice.

In [ ]:
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple iphone", case=False), "category"] = "smartphone"

In [ ]:
product_category_df["category"].value_counts()

              9634
smartphone     269
keyboard        89
Name: category, dtype: int64

## 3.&nbsp; One product with multiple categories
A product may fit into multiple categories. To help us create multiple categories for one product, we will use the python addition assignment `+=`. The addition assignment is a shorthand way to add something (number, string, etc...) to a variable without changing the variable name.

Let's have a look at a couple of examples.

In [ ]:
a = 10
a = a + 5
a

15

In [ ]:
a = 10
a += 5
a

15

In [ ]:
b = "Tyrannosaurus"
b = b + " rex"
b

'Tyrannosaurus rex'

In [ ]:
b = "Tyrannosaurus"
b += " rex"
b

'Tyrannosaurus rex'

Now let's look at how this can help us in our category creation.

First, we'll reset all the values in the category column to an empty string `""`.

In [ ]:
product_category_df["category"] = ""

Now, let's create some categories and utilise the addition assignment.

In [ ]:
product_category_df.loc[product_category_df["desc"].str.contains("keyboard", case=False), "category"] += ", keyboard"
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple iphone", case=False), "category"] += ", smartphone"
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple ipod", case=False), "category"] += ", ipod"
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple ipad|tablet", case=False), "category"] += ", tablet"
product_category_df.loc[product_category_df["name"].str.contains("imac|mac mini|mac pro", case=False), "category"] += ", desktop"

In [ ]:
product_category_df["category"].value_counts()

                       8362
, desktop               923
, tablet                307
, smartphone            269
, keyboard               83
, ipod                   42
, keyboard, tablet        4
, keyboard, desktop       2
Name: category, dtype: int64

As you can see, some products now have 2 categories instead of just one. At the end, you can use your skills with string to tidy up the opening comma and space in the `category` column.

# Challenge. Your categories
Now it's your turn. We'll reset the Dataframe so that no categories exist, and it's up to you to create the categories based on keywords in the name and description. Feel free to go wild and make as many categories as you like.
* Remember you can also use regex to refine your searches.
* Remember you can use the or operator `|` to search for multiple terms at once.
* Remember to tidy up any untidy strings at the end.

In [ ]:
# products_cl.csv
url = "https://drive.google.com/file/d/1s7Lai4NSlsYjGEPg1QSOUJobNYVsZBOJ/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products_cl = pd.read_csv(path)

product_category_df = products_cl.copy()

In [ ]:
product_category_df["category"] = ""

product_category_df.loc[product_category_df["desc"].str.contains("keyboard", case=False), "category"] += ", keyboard"
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple iphone", case=False), "category"] += ", smartphone"
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple ipod", case=False), "category"] += ", ipod"
product_category_df.loc[product_category_df["name"].str.contains("^.{0,7}apple ipad|tablet", case=False), "category"] += ", tablet"
product_category_df.loc[product_category_df["name"].str.contains("imac|mac mini|mac pro", case=False), "category"] += ", desktop"
product_category_df.loc[product_category_df["name"].str.contains("macbook", case=False), "category"] += ", laptop"
product_category_df.loc[product_category_df["desc"].str.contains("backpack", case=False), "category"] += ", backpack"
product_category_df.loc[product_category_df["desc"].str.contains("case|funda|housing|casing|folder", case=False), "category"] += ", case"
product_category_df.loc[product_category_df["desc"].str.contains("dock|hub|connection|expansion box", case=False), "category"] += ", dock"
product_category_df.loc[product_category_df["desc"].str.contains("cable|connector|lightning to usb|wall socket|power strip", case=False), "category"] += ", cable"
product_category_df.loc[product_category_df["desc"].str.contains("flash drive|hard drive|pendrive|hard disk|memory|storage|^ssd|^hardssd|modules|ssd expansion", case=False), "category"] = ", storage"
product_category_df.loc[product_category_df["desc"].str.contains("battery", case=False), "category"] += ", battery"
product_category_df.loc[product_category_df["desc"].str.contains("headset|headphones", case=False), "category"] += ", headset"
product_category_df.loc[product_category_df["desc"].str.contains("charger", case=False), "category"] += ", charger"
product_category_df.loc[product_category_df["desc"].str.contains("mouse|trackpad", case=False), "category"] += ", mouse"
product_category_df.loc[product_category_df["desc"].str.contains("stand|support", case=False), "category"] += ", stand"
product_category_df.loc[product_category_df["desc"].str.contains("strap|armband|belt|bracelet", case=False), "category"] += ", strap"
product_category_df.loc[product_category_df["desc"].str.contains("^.{0,6}apple watch|smartwatch|smart watch", case=False), "category"] += ", smartwatch"
product_category_df.loc[product_category_df["desc"].str.contains("adapter", case=False), "category"] += ", adapter"
product_category_df.loc[product_category_df["desc"].str.contains("^.{0,7}ram", case=False), "category"] += ", ram"
product_category_df.loc[product_category_df["desc"].str.contains("protect|cover|sleeve|screensaver|shell", case=False), "category"] += ", protection"
product_category_df.loc[product_category_df["desc"].str.contains("nas|server|raid|synology", case=False), "category"] += ", server"
product_category_df.loc[product_category_df["desc"].str.contains("scale", case=False), "category"] += ", scale"
product_category_df.loc[product_category_df["desc"].str.contains("thermometer", case=False), "category"] += ", thermometer"
product_category_df.loc[product_category_df["desc"].str.contains("monitor", case=False), "category"] += ", monitor"
product_category_df.loc[product_category_df["desc"].str.contains("speaker|music system", case=False), "category"] += ", speaker"
product_category_df.loc[product_category_df["desc"].str.contains("camera", case=False), "category"] += ", camera"
product_category_df.loc[product_category_df["desc"].str.contains("pointer", case=False), "category"] += ", pointer"
product_category_df.loc[product_category_df["desc"].str.contains("refurbished|reconditioned|like new", case=False), "category"] += ", refurbished"

product_category_df.loc[product_category_df["category"] == "", "category"] += ", other"

In [ ]:
product_category_df["category"].value_counts()

, other                                  1150
, storage                                1000
, desktop                                 714
, server                                  589
, laptop                                  546
                                         ...
, desktop, dock, stand                      1
, case, battery, headset                    1
, keyboard, cable, protection               1
, battery, monitor                          1
, keyboard, mouse, stand, refurbished       1
Name: category, Length: 250, dtype: int64

In [ ]:
product_category_df["category"] = product_category_df["category"].str[2:]

product_category_df["category"].value_counts()

other                                  1150
storage                                1000
desktop                                 714
server                                  589
laptop                                  546
                                       ...
desktop, dock, stand                      1
case, battery, headset                    1
keyboard, cable, protection               1
battery, monitor                          1
keyboard, mouse, stand, refurbished       1
Name: category, Length: 250, dtype: int64

## 4.&nbsp; [BONUS] Using `type` to create categories
There could be another way to create categories, but this one you'll have to explore this one alone.

We have the mysterious column `type` in the `products` table. This could potentially be ready-made categories labelled with numbers instead of words. Let's investigate.

In [ ]:
category_type_df = products_cl.copy()

Here are the `type`s that have the most products.

In [ ]:
category_type_df.groupby("type").count().nlargest(10, "sku")

           sku  name  desc  price  in_stock
type
11865403  1057  1057  1057   1057      1057
12175397   939   939   939    939       939
1298       783   783   783    783       783
11935397   562   562   562    562       562
11905404   454   454   454    454       454
1282       373   373   373    373       373
12635403   362   362   362    362       362
13835403   269   269   269    269       269
5,74E+15   247   247   247    247       247
1364       216   216   216    216       216

Let's have a look at the first `type` to see if we can make categories from this column.

In [ ]:
category_type_df.loc[category_type_df["type"] == "11865403"].sample(10)

,sku,name,desc,price,in_stock,type
4263,APP1565,Silicone Case Apple Case iPhone 6 / 6S Plus Al...,Ultrathin silicone case and microfiber premium...,45.00,0,11865403
2096,LIF0051,LifeProof nüüd Waterproof Case iPhone 6 Rosa,waterproof and extreme conditions for iPhone 6...,89.99,0,11865403
6768,APP1997,Apple iPhone Silicone Case Cover 7 Camelia,Ultrathin silicone case and microfiber premium...,39.00,0,11865403
37,MUV0023,Extreme Muvit iPhone and iPod BikeMount sleeve...,IPhone and iPod support sleeve waterproof App ...,35.90,0,11865403
1015,PUR0124,Puro Booklet Cover iPhone 6 / 6S Plus Silver,Flip cover for iPhone 6 / 6S Plus.,19.99,0,11865403
9103,LIF0140,NEXT LifeProof iPhone Case X Cactus Rosa,LifeProof sleeve super tough resistance to dir...,69.99,1,11865403
3125,APP1145,Case Apple iPhone 6 / 6S Orange Silicone Case,Ultrathin silicone case and microfiber premium...,39.00,0,11865403
8698,NTE0125,NewerTech NuGuard KX X-treme X iPhone Case Red,Pull the iPhone from 6 meters without damage: ...,72.99,0,11865403
6272,LIF0121,Submersible Nood LifeProof iPhone Case 7 Lila,waterproof and resistant to extreme conditions...,89.99,1,11865403
8355,APP2509,Apple iPhone Silicon Case Case 8/7 Black,Ultrathin silicone case and microfiber premium...,39.00,1,11865403

Looks like this is a category of phone cases.

Let's have a look at the 2nd largest type to see if that's also a clear category.

In [ ]:
category_type_df.loc[category_type_df["type"] == "12175397"].sample(10)

,sku,name,desc,price,in_stock,type
7015,PAC1993,Synology DS1517 + | 2GB RAM | 30TB (5x6TB) Sea...,NAS with 2GB of RAM and 30TB for Mac and PC,2205.81,0,12175397
3887,PAC1359,Synology DS216 + Pack | Seagate NAS 6TB,NAS + 6TB (2x3TB) NAS Seagate for Mac and PC.,630.99,0,12175397
8819,PAC2294,DS218play Synology NAS Server | 6TB (2x3TB) WD...,2-bay NAS server can accommodate 4K Ultra HD f...,498.99,0,12175397
2933,PAC1778,Synology Pack DS216SE | Seagate 8TB NAS,Synology NAS 16TB (2x8TB) Seagate Hard Drive f...,859.97,1,12175397
8535,PAC2207,Synology DS718 + NAS Server | 6GB RAM | 6TB (2...,Scalable NAS server with transcoding 4K: 4-cor...,779.98,0,12175397
8540,PAC2212,Synology DS718 + NAS Server | 10GB RAM | 6TB (...,Scalable NAS server with transcoding 4K: 4-cor...,809.35,0,12175397
3144,PAC1215,QNAP Pack HS-251 + | WD 12TB Network,QNAP pack of 12TB (2x6TB) WD Hard Drives Netwo...,908.99,0,12175397
8558,PAC2320,Synology DS718 + NAS Server | 2GB RAM | 12TB (...,Scalable NAS server with transcoding 4K: 4-cor...,1019.97,0,12175397
1330,PAC1787,Pack Synology DS1815 + NAS Server | 24TB Seaga...,DS1815 + NAS capacity 24TB (8x3TB) Seagate Har...,2057.91,0,12175397
8597,PAC2369,Synology DS218 + NAS Server | 6GB RAM | 4TB (2...,NAS storage server integrated with special foc...,626.96,0,12175397

Looks like this category is full of servers.

I wonder how many `type`s account for most of our products?

In [ ]:
n = 30
print(f"With the {n} largest types, we account for {((category_type_df.groupby('type').count().nlargest(n, 'sku')['sku'].sum()) / (category_type_df.shape[0]) * 100).round(2)}% of all products.")

With the 30 largest types, we account for 78.4% of all products.

Looks like we can simply investigate 30 types and set the categories, then the remaining 20% of products can have the category `other`.

Use the skills you learnt above to change the category for each type.